<div class="container">
<h3 class="text-center">Hello! You Caught Us Before We're Ready</h3>
<p class="text-justify">We're working really hard putting the finishing touches on this 
premium Ethereum content. Everything is going well and it should be available soon! Want 
us to send you a reminder when the content is ready? Click below to enter your email address!</p>
<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://www.getdrip.com/forms/885314052/submissions/new" data-drip-show-form="885314052" class="btn btn-primary btn-primary-outline btn-block page-scroll">Yes, Remind Me!</a>
		</div>
		</div>

<div class="container" id="footer">
			<p class="text-center"><a href="/privacy">Privacy Policy | Terms Of Service</a></p>
</div> 