<div class="container">
<h3 class="text-center">You Want To Invest In Ethereum & ICO’s But Are Too Confused To Know Where To Start</h3>
<p class="text-justify">You’ve heard all of the rumors of people getting rich on cryptocurrency’s. You’ve tried to read up on it to figure out how you too can invest but you’re still too intimidated by all of the technical jargon to do anything about it.</p>
<p class="text-justify">You’re scared you’ll lose your money somehow and be shit out of luck!</p>
<p class="text-justify">Imagine being shown exactly how to invest in ICO’s and how to easily and safely secure your new digital tokens.</p>
<p class="text-justify">Imagine finally being able to dip your toes in this exciting new space and possibly reap the rewards that are being had in this new financial space.</p>
<p class="text-justify">I too struggled at first when trying to figure out how to properly invest in Ethereum and ICO’s. Fortunately for you, I’ve already done all of the hard work of figuring it out so even a layman could understand.</p>
<p class="text-justify">I decided to publish this info for free here!</p>
<h2 class="text-center">Ethereum is the beginning of web 3.0, the decentralized web.</p>
<p class="text-justify">Learning more about this paradigm shift in finance could potentially make you a lot of money. Obviously there’s no guarantees in life but as with most things, no risk, no reward. Ethereum has already risen in value by some 3600% just in 2017 alone and there’s good reason to believe it’ll go a lot higher over the next 5+ years.</p>

<p class="text-justify">Learning how to navigate the Ethereum/ICO world  represents an opportunity to take part in a completely new financial paradigm. A complete shift in how the financial world works. It’ll allow you to invest in some of the most innovative startups in existence today, even if you only have $5 to invest.</p>
<p class="text-justify">There’s a reason why <a href="https://www.cnbc.com/2017/08/09/initial-coin-offerings-surpass-early-stage-venture-capital-funding.html" target="_blank">$1.2 billion has been raised to date</a> using the ICO model.</p>
<p class="text-justify">Learning about the new cryptocurrency space will help you control your money without any counterparty risk and with a lot more transparency. This technology was born from the frustration many had dealing with the traditional financial world and the 2008 collapse helped to show just how badly needed these tools were.</p>

<p class="text-justify"><strong>More on Ethereum and ICO's</strong></p>
<p class="text-justify">Ethereum is often called a ‘world-wide computer’ since it’s formed by a global network of computers all sharing a single database or ledger. Think of it like a world-wide Excel spreadsheet that is distributed across a global network of computers. It’s immutable since it doesn’t reside only on one computer and it’s virtually impossible to shut down since it has no central point of failure.
</p>
<p class="text-justify">A programmer can write code for this ‘world-wide computer’ and once published it can take on a life of it’s own. No one can turn it off, no one can tamper with it and the code will always run exactly how it was programmed to run.</p>

<p class="text-justify">Now, it’s not all roses. The decentralized nature of Ethereum does have some disadvantages. It’s considered a slow computer because all of the thousands of computers across the world maintaining the immutable ledger need to communicate with each other, this obviously takes time.</p>
<p class="text-justify">The Ethereum computer is also expensive because everybody who owns a computer running Ethereum wants something in return for doing their part in supporting the network. It does cost them electricity and computer power to mine Ethereum after all.</p>

<h3 class="text-center">Initial Coin Offerings (ICO)</h3>
<p class="text-justify">Initial Coin Offerings (ICO) or token sales have been one of the biggest use cases for the blockchain so far. It’s mainly used as an investment or fund raising vehicle allowing a startup to raise funds for a particular project.</p>
<p class="text-justify">It’s often compared to an Initial Public Offering (IPO) which is when a company ‘goes public’ offering shares of their company to everybody, not just a private pool of investors.</p>

<p class="text-justify">Startups raise money using ICO’s because (a) anybody in the world can invest so long as they have an internet connection, (b) there’s no counterparty risk to raise these funds,  (c) it helps the startup to build up a network of users, after all who better to use their app and promote it to others than those investors who believed in the project early on enough to invest in the ICO and (d) allows the startup to raise money without relinquishing any control of the project over to private investors and venture capitalists.</p>
<p class="text-justify">It doesn’t hurt the fact that they don’t have to deal with the paperwork involved with giving out equity in an IPO.</p>
<p class="text-justify">There’s no doubting now that ICO’s are one of the biggest financial innovations to stem from blockchain technology.</p>
<h2 class="text-center">How Ethereum Works Differently Than Bitcoin</h2>

<div class="container-fluid">
	<p class="text-center"><strong>Click Below To Get Immediate Access To This Video For FREE!</strong></p>
	
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://www.getdrip.com/forms/668846495/submissions/new" data-drip-show-form="668846495" class="btn btn-primary btn-primary-outline btn-block page-scroll">Yes, Let me see the video!</a>
		</div>
		</div>
<!-- Old payment button and cc images 
<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://transactions.sendowl.com/products/604559/A6FB357B/purchase" class="btn btn-primary btn-primary-outline btn-block page-scroll">$4 Add To Cart</a>
				<%= image_tag("cclogos.png", :alt => "Credit Card Logos", :class => "img-responsive roast-img", :style => "margin-top:-20px; margin-bottom:50px;") %>
				<%= image_tag("secure-checkout.png", :alt => "Secure Checkout", :class => "img-responsive roast-img", :style => "margin-top:-30px; margin-bottom:50px;") %>
		</div>
		</div> -->
		</div>
<p class="text-justify">If you have any further questions or concerns feel free to email me at support@wordfizzle.com. Don’t forget to <a href="https://steemit.com/@steveo" target="_blank">follow me on Steemit.com</a> too! :)</p>
<p class="text-justify">To Your Success,</br>
												Steve Longoria</p>
<p class="text-center"><a target="_blank" href="https://ctt.ec/5e7b6">Tweet: "How I Made $1k+ On A Blogging Platform Barely Anybody Knows About Called Steemit"</a>												
<div class="well container">											
<h2 class="text-center"><strong>Want more free content from Wordfizzle?</strong></h2>
<p class="text-center">Click below to join our email list below!</p>
<div class="row" style="margin-top:-50px;">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://www.getdrip.com/forms/877158408/submissions/new" data-drip-show-form="877158408" class="btn btn-primary btn-primary-outline btn-block page-scroll" style="margin-top:80px;">Join Our Free Email List</a>
		</div>
	</div>
	</div>
</div>
</div>

<div class="container" id="footer">
			<p class="text-center"><a href="/privacy">Privacy Policy | Terms Of Service</a></p>
</div>