<% @title="You Want To Invest In Ethereum & ICO’s But Have No Clue Where To Start" %>
<div class="container">
<h3 class="text-center">You Want To Invest In Ethereum & ICO’s But Have No Clue Where To Start</h3>
<p class="text-justify">You’ve heard all of the rumors of people getting rich on cryptocurrency’s. You’ve tried to read up on it to figure out how you too can invest but you’re still too intimidated by all of the technical jargon to do anything about it.</p>
<p class="text-justify">You’re scared you’ll lose your money somehow and be shit out of luck!</p>
<p class="text-justify">Imagine being shown exactly how to invest in ICO’s and how to easily and safely secure your new digital tokens.</p>
<p class="text-justify">Imagine finally being able to dip your toes in this exciting new space and possibly reap the rewards that are being had in this new financial space.</p>
<p class="text-justify">I too struggled at first when trying to figure out how to properly invest in Ethereum and ICO’s. Fortunately for you, I’ve already done all of the hard work of figuring it out so even a layman could understand.</p>
<p class="text-justify">I decided to publish this info for free here!</p>
<h2 class="text-center">Ethereum is the beginning of web 3.0, the decentralized web.</p>
<p class="text-justify">Learning more about this paradigm shift in finance could potentially make you a lot of money. Obviously there’s no guarantees in life but as with most things, no risk, no reward. Ethereum has already risen in value by some 3600% just in 2017 alone and there’s good reason to believe it’ll go a lot higher over the next 5+ years.</p>

<p class="text-justify">Learning how to navigate the Ethereum/ICO world  represents an opportunity to take part in a completely new financial paradigm. A complete shift in how the financial world works. It’ll allow you to invest in some of the most innovative startups in existence today, even if you only have $5 to invest.</p>
<p class="text-justify">There’s a reason why <a href="https://www.cnbc.com/2017/08/09/initial-coin-offerings-surpass-early-stage-venture-capital-funding.html" target="_blank">$1.2 billion has been raised to date</a> using the ICO model.</p>
<p class="text-justify">Learning about the new cryptocurrency space will help you control your money without any counterparty risk and with a lot more transparency. This technology was born from the frustration many had dealing with the traditional financial world and the 2008 collapse helped to show just how badly needed these tools were.</p>
<p class="text-justify">Before we dive in, first read this:</p>
<div class="well container">											
<h2 class="text-center"><strong>Legal Disclaimer</strong></h2>
<p class="text-justify">The information provided on Wordfizzle.com and accompanying material is for informational purposes only.  It should not be considered legal or financial advice.  You should consult with an attorney or other professional to determine what may be best for your individual needs.</p>
<p class="text-justify">Wordfizzle.com does not make any guarantee or other promise as to any results that may be obtained from using our content. No one should make any investment decision without first consulting his or her own financial advisor and conducting his or her own research and due diligence.</p>
<p class="text-justify">To the maximum extent permitted by law, Wordfizzle.com disclaims any and all liability in the event any information, commentary, analysis, opinions, advice and/or recommendations prove to be inaccurate, incomplete or unreliable, or result in any investment or other losses.</p>
<p class="text-justify">Content contained on or made available through the website is not intended to and does not constitute legal advice or investment advice and no attorney-client relationship is formed. Your use of the information on the website or materials linked from the Web is at your own risk.</p>
	</div><!-- /.well -->
<p class="text-justify"><strong>More on Ethereum and ICO's</strong></p>
<p class="text-justify">Ethereum is often called a ‘world-wide computer’ since it’s formed by a global network of computers all sharing a single database or ledger. Think of it like a world-wide Excel spreadsheet that is distributed across a global network of computers. It’s immutable since it doesn’t reside only on one computer and it’s virtually impossible to shut down since it has no central point of failure.
</p>
<p class="text-justify">A programmer can write code for this ‘world-wide computer’ and once published it can take on a life of it’s own. No one can turn it off, no one can tamper with it and the code will always run exactly how it was programmed to run.</p>

<p class="text-justify">Now, it’s not all roses. The decentralized nature of Ethereum does have some disadvantages. It’s considered a slow computer because all of the thousands of computers across the world maintaining the immutable ledger need to communicate with each other, this obviously takes time.</p>
<p class="text-justify">The Ethereum computer is also expensive because everybody who owns a computer running Ethereum wants something in return for doing their part in supporting the network. It does cost them electricity and computer power to mine Ethereum after all.</p>

<h3 class="text-center">Initial Coin Offerings (ICO)</h3>
<p class="text-justify">Initial Coin Offerings (ICO) or token sales have been one of the biggest use cases for the blockchain so far. It’s mainly used as an investment or fund raising vehicle allowing a startup to raise funds for a particular project.</p>
<p class="text-justify">It’s often compared to an Initial Public Offering (IPO) which is when a company ‘goes public’ offering shares of their company to everybody, not just a private pool of investors.</p>

<p class="text-justify">Startups raise money using ICO’s because (a) anybody in the world can invest so long as they have an internet connection, (b) there’s no counterparty risk to raise these funds,  (c) it helps the startup to build up a network of users, after all who better to use their app and promote it to others than those investors who believed in the project early on enough to invest in the ICO and (d) allows the startup to raise money without relinquishing any control of the project over to private investors and venture capitalists.</p>
<p class="text-justify">It doesn’t hurt the fact that they don’t have to deal with the paperwork involved with giving out equity in an IPO.</p>
<p class="text-justify">There’s no doubting now that ICO’s are one of the biggest financial innovations to stem from blockchain technology.</p>
<h2 class="text-center">How Ethereum Works Differently Than Bitcoin</h2>
<%= image_tag("btceth.png", :alt => "Bitcoin vs Ethereum", :class => "img-responsive roast-img", :style => "margin-bottom: 20px;") %>
<%= image_tag("ethapp.png", :alt => "Ethereum App", :class => "img-responsive roast-img", :style => "margin-top:-20px; margin-bottom:50px;") %>

<h2 class="text-center">Step-by-step instructions on investing in Ethereum and ICO’s</h2>
<p class="text-justify">I’m not going to tell you what ICO’s or tokens to invest in with this guide, I’m simply going to give you the tools necessary to expose yourself to this highly volatile space where investors are making massive gains and losses."</p>
<p class="text-justify"><strong>Step 1:</strong> If you’re going to invest in ICO’s you first need to use the right kind of wallet, one that is ERC20 capable.</p>
<p class="text-justify">I recommend using Parity or Geth if you are using a desktop computer or laptop with plenty of storage on the harddrive because Parity & Geth require you to store the blockchain data, which takes up room on your computer.</p>
<p class="text-justify">If you have a laptop or desktop with limited storage or just want something more user friendly, I recommend using My Ether Wallet (MEW) or MetaMask. Neither require you to store the entire blockchain, they’re what is considered to be a light wallet client for this reason.</p>
<p class="text-justify">MetaMask is a Chrome extension that is an Ether and ERC20 enabled wallet that is user friendly and allows you to invest in ICO’s.</p>
<p class="text-justify">MyEtherWallet is an online wallet that has ‘cold storage’ capabilities if you want to secure your tokens safely for the long term.</p>
<p class="text-justify">The safest way to store your tokens using My Ether Wallet (MEW) is by using the ‘cold storage’ feature.</p>
<p class="text-justify"><a href="https://www.youtube.com/watch?v=Xs2xSob38yQ" target="_blank">See this video for how to setup ‘cold storage’ using MEW.</a></p>
<p class="text-justify">You can also safely secure your tokens on a hardware wallet like Ledger Nano, <a href="https://www.youtube.com/watch?v=8wI0Q3nVz3g" target="_blank">here’s a video explaining that!</a></p>
<p class="text-justify"><strong>Step 2:</strong> Acquire Ether using Coinbase.com or another exchange. You can also convert Bitcoin for ether using Shapeshift.io or another exchange.</p>
<p class="text-justify">Simply signup at Coinbase and connect a bank account or credit card to your account in order to purchase Ether. It can take several days to see your Ether show up in your wallet so plan accordingly. The reason it takes days is because we’re interacting with the traditional banking system.</p>
<p class="text-justify"><strong>Important:</strong> Since you don’t have access to your private keys on Coinbase, it’s best to not keep your ether on their for long. I’m not trying to bash Coinbase, but it’s usually best to have full control over your funds unless you can’t truly trust yourself to store them safely. </p>
<p class="text-justify"><strong><u>Also, remember not to send ether or bitcoin to an ICO address from Coinbase unless you never want to see your tokens. Just remember this, since you don’t control your private keys for your Coinbase wallet, you can’t use it to invest in ICO’s.</u></strong></p>
<p class="text-justify">If you do keep any ether or bitcoin on Coinbase, consider putting them in “The Vault”. Also use 2-factor authentication with Google Authenticator or a Yubikey and NOT using SMS. Hackers have developed a clever way to hack your account if you use SMS for 2-factor authentication.</p>
<p class="text-justify"><strong>Step 3:</strong> How To Invest In An ICO</p>
<p class="text-justify">After you’ve acquired ether using Coinbase and have sent it to one of the user controlled wallets listed in Step 1 above, it’s time to pick an ICO you want to participate in. I like using ICOtrooper.com to do this research because I like their UI.</p>
<p class="text-justify">When a company launches an ICO or token sale, they’ll post an Ethereum address where funds are to be sent between a pre-defined window of time. Always double check that you’re sending ether to the correct address before sending it off.</p>
<p class="text-justify">After the token sale has ended, the tokens you have purchases will arrive in your wallet.</p>
<p class="text-justify">If it’s a popular token sale you may find it difficult to invest unless you’re willing to spend a lot of funds on transaction fees or as it’s called on the Ethereum network; gas. It’s sometimes difficult to get in before the token sells out completely too. The Basic Attention Token ICO sold out in 30 seconds and saw investors paying as much as $6k+ in transaction fees to ensure they’re able to get in before the tokens sell out.</p>
<p class="text-justify"><strong>Still have questions?</strong></p>
<p class="text-justify">I put together a special video walking you through the whole process of setting up MEW, purchasing an ICO and storing. </p>
<p class="text-justify">I also show you how to use ‘smart contracts’ to ensure you don’t miss out on certain ICO’s.</p>
<p class="text-justify">I also will let you know which ICO’s I think look promising and ones that I’m personally investing in via email newsletter.</p>


<div class="container-fluid">
	<p class="text-center"><strong>Click below to gain access to the video and special newsletter for a one-time $27</strong></p>
	
<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="/ethco"  class="btn btn-primary btn-primary-outline btn-block page-scroll">Give Me Access For $27!</a>
				<%= image_tag("cclogos.png", :alt => "Credit Card Logos", :class => "img-responsive roast-img", :style => "margin-top:-20px; margin-bottom:50px;") %>
				<%= image_tag("secure-checkout.png", :alt => "Secure Checkout", :class => "img-responsive roast-img", :style => "margin-top:-30px; margin-bottom:50px;") %>
		</div>
		</div> 
		</div>
<p class="text-justify">If you have any further questions or concerns feel free to <a href="https://www.wordfizzle.com/contact-us" target="_blank">contact us here.</a> Don’t forget to <a href="https://steemit.com/@steveo" target="_blank">follow me on Steemit.com</a> too! :)</p>
<p class="text-justify">To Your Success,</br>
												Wordfizzle Team</p>
<div class="well container">											
<h2 class="text-center"><strong>Want more free content from Wordfizzle?</strong></h2>
<p class="text-center">Click below to join our email list below!</p>
<div class="row" style="margin-top:-50px;">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://www.getdrip.com/forms/584120556/submissions/new" data-drip-show-form="584120556" class="btn btn-primary btn-primary-outline btn-block page-scroll" style="margin-top:80px;">Join Our Free Email List</a>
		</div>
	</div>
	</div>
</div>
</div>

<div class="container" id="footer">
			<p class="text-center"><a href="/privacy">Privacy Policy | Terms Of Service</a></p>
</div> 