<div class="callout text-center container-fluid">
	<h3>
</h3>
	<div class="row">
		<div class="col-md-4">
			<div class="rounded">
				<p class="text-center"><a style="font-color:#fff;" href="https://www.wordfizzle.com/ethereumico">You Want To Invest In Ethereum & ICO’s But Have No Clue Where To Start</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="rounded">
				<p class="text-center"><a style="font-color:#fff;" href="https://www.wordfizzle.com/steemit">How I Made $1k+ On A Blogging Platform Barely Anybody Knows About</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<!--<div class="rounded">
				<p class="text-center">New Guide Coming Soon!</p>
			</div> -->
		</div>
	</div>
</div>
		