<div class="callout text-center container-fluid">
	<h3>How I Made $1k+ On A Secret Blogging Platform
</h3>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="#info" class="btn btn-primary btn-primary-outline btn-block page-scroll" style="margin-top:20px;">Learn more</a>
		</div>
	</div>
</div>

<div class="container">
	<h2 class="text-center" id="info">You’ve been running your blog for months now, devoting countless hours every week 
	producing quality content yet you’re still making less than your average fast food 
	employee.</h2>
	
	<p>You started blogging as a way to escape the 9–5 rat race and give you the 
	freedom to make a living that wasn’t tied to one location. You didn’t expect it to be 
	this hard though!</p>

<p>You’ve even had some blog posts go viral resulting in a decent following and some 
steady traffic. Yet here you are still not earning money from all of your hard work. Sure, 
you tried monetizing traffic using ads but the payout from that is so low it’s borderline 
insulting.</p>
<p>You tried putting ads on your blog but you need to have a very high traffic blog to 
make even $100/mo in ad revenue. You tried affiliate marketing but it’s a lot of work 
trying to find quality products to sell as an affiliate when all you want to do is focus 
on blogging! Sure you could create your own products to sell, but you don’t know how to do 
that, you just want to blog! Monetizing your blog is just way too complex and you wish you 
didn’t have to deal with.</p>
<p>What if you could simply focus on your blog content and earn money based on how many 
people actually liked that content?</p>
<p>Imagine if getting paid for your content was much more straightforward, and was determined 
by how much value others found in your content. Imagine being able to make money by 
focusing on giving value to your audience without selling anything or charging for your 
content. That would surely be a beautiful thing wouldn’t it?</p>
<p>I’m here to tell you that this dream is in fact a reality. I too struggled making money 
from blogging, that was until I stumbled across a new way to make money from your content 
that involved no selling, and no ads. I decided to write a short PDF about my discovery 
called WordFizzle.</p>
<p>In WordFizzle you will discover a new way to monetize digital content in 2017 and in the 
years to come. The great thing about this method too is that it can be used in conjunction 
with your other online marketing efforts whether it’s selling products or services.</p>
</div>

<div class="container guarantee">
	<h2 class="text-center">Satisfaction Guaranteed Or Your Money Back</h2>
	<img alt="Guarantee" class="img-responsive roast-img" src="/assets/guarantee-badge.png" />
	<p style="margin-top: 30px;" class="text-justify">I'm so sure you'll love Wordfizzle that I’ve decided to 
	offer a no questions asked, money back guarantee. If you aren't absolutely thrilled with 
	our fresh roasted coffee beans simply send them back and I’ll issue a full refund, no 
	questions asked!</p>
</div>

	<h2 class="text-center">Purchase Wordfizzle Today!</h2>
<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://transactions.sendowl.com/products/604559/A6FB357B/purchase" class="btn btn-primary btn-primary-outline btn-block page-scroll">Add To Cart</a>
			<img style="margin-top:-20px; margin-bottom:50px;" alt="Credit Card Logos" class="img-responsive roast-img" src="/assets/ssl_lock.png" />
		</div>
	</div>
    	
<div class="container" id="footer">
			<p class="text-center"><a href="/privacy">Privacy Policy | Terms Of Service</a></p>
</div>
		