<div class="callout text-center container-fluid">
	<h3>
</h3>
	<div class="row">
        <div class="col-md-4">
			<a href="https://www.wordfizzle.com/sfunnelguide"><div class="rounded">
				<p class="text-center">You Have A "Professionally Designed" Website & Steady Organic Google Traffic Yet Sales Still Suck</p>
			</div></a>
            <p class="text-center" style="margin-top:-12px;"><u>New!</u>
		</div>
		<div class="col-md-4">
			<a href="https://www.wordfizzle.com/ethereumico"><div class="rounded">
				<p class="text-center">You Want To Invest In Ethereum & ICO’s But Have No Clue Where To Start</p>
			</div></a>
			<p class="text-center" style="margin-top:-12px;"><u>New!</u>
		</div>
		<div class="col-md-4">
			<a href="https://www.wordfizzle.com/steemit"><div class="rounded">
				<p class="text-center">How I Made $1k+ On A Blogging Platform Barely Anybody Knows About</p>
			</div></a>
		</div>
	</div>
</div>
		