<% @title="How To Design Your Website To Make Sales" %>
<div class="container">
<h3 class="text-center">How To Design Your Website To Make Sales</h3>
<p dir="ltr">
    You paid a ‘pro web designer’ a pretty penny to create a slick ‘modern
    website’. It has all of the bells and whistles; social media plugins,
    mobile responsive, auto image carousel slider, etc.
</p>
<br/>
<p dir="ltr">
    Even with this slick new website, you’re finding sales still aren’t
    anywhere near what they could be. You could try and throw more traffic at
    the problem or you can realize you need a website that actually does it’s
    job converting visitors into customers first and foremost.
</p>
<br/>
<p dir="ltr">
    <i>Imagine What Your Business Would Look Like If Your Website Spit Out
        Customers Like Crazy</i>
</p>
<br/>
<p dir="ltr">
    <i>Imagine if instead of a website you had an automated sales funnel system
        that was optimized to maximize sales at every turn?</i>
</p>
<br/>
<h2 dir="ltr">
    Discover How To Maximize Your Sales By Turning Your Website Into An
    Automated Sales Funnel
</h2>
<br/>
<p dir="ltr">
    In my 9 years helping business owners increase sales online I’ve seen the
    above scenario time and again. Websites that just don’t properly do their
    job in converting visitors into customers. They may look snazzy and make
    the business owner feel all warm and fuzzy inside but they’re not doing
    what they were born to do; generate sales!
</p>
<br/>
<p dir="ltr">
    In this guide, I’m going to show you how to squeeze the most amount of
    money from your website visitors and customers online by using a sales
    funnel on your website.
</p>
<br/>
<p dir="ltr">
    A sales funnel is a systematic approach to selling. One of the most
    successful examples of this is McDonalds. When you come in to purchase a
    hamburger at Mcdonald’s, they’re really only making about .18 cents profit
    on that. Now when they upsell you on the fries and coke, their profit
    margin jumps to over a dollar.
</p>
<br/>
<p dir="ltr">
    So they draw you in to purchase one product; the hamburger, or sometimes
    it’s the McRib, and then they upsell you on complementary products or more
    of the same (Buy One Get Two).
</p>
<br/>
<p dir="ltr">
    Now instead of bringing customers through a drive-thru, we want to bring
    customers thru our website sales funnel. First to buy one product, then to
    upsell/cross-sell/downsell them on complementary products.
</p>
<br/>
<p dir="ltr">
    Why is this so powerful? It’s because "The probability of selling to a new
    prospect is 5-20%. The probability of selling to an existing customer is
    60-70%" – Marketing Metrics
</p>
<br/>
<p dir="ltr">
    Experienced marketers have known for years that the ‘money is in the
    backend’, which means that the bulk of your profit potential is not on the
    first sale but on all subsequent sales made after a customer is added to
    your email list.
</p>
<h1 dir="ltr">
    Doesn’t This Annoy The Customer?
</h1>
<p dir="ltr">
    Many are afraid to upsell or cross-sell because they feel as if they’re
    just annoying their customer. On the contrary, if what you’re offering is
    enhancing their experience with your business and making your original
    offering even better, then it’s a win/win.
</p>
<br/>
<p dir="ltr">
    Let’s say you you were staying at a hotel, and upon check-in they offer you
    a breakfast voucher for 50% off. You were probably going to already get
    breakfast, but now you get it 50% off if you purchase the voucher at time
    of check-in. It’s a win/win for both the customer and the business.
</p>
<h1 dir="ltr">
    An Example
</h1>
<p dir="ltr">
    Let’s say you’re selling a Wordpress theme for $40 and you have a
    conversion rate of 2%, making the value of each visitor about $.80. This
    means for every 1000 visitors you’d make roughly $800.
</p>
<br/>
<p dir="ltr">
    Now let’s say instead, you drop the price of the theme down to $20 and
    doing so increases your conversion rate to 6%. This makes the average
    visitor worth about $1.20, already better than the first scenario but it’s
    just starting to get interesting.
</p>
<br/>
<p dir="ltr">
    What if you now offered a complimentary Wordpress plugin for $30 after
    people bought the Wordpress theme. If just 30% of the customers who bought
    the theme go on to buy the plugin, that’s an extra $540 in profit.
</p>
<br/>
<p dir="ltr">
    See how powerful sales funnels can be? This is just scratching the surface
    too. You can have multiple upsells, and you can upsell higher priced
    services and products as well. The sky is truly the limits when you know
    how to design profitable sales funnels online.
</p>
<br/>
<p dir="ltr">
    One huge advantage to those businesses with a fine-tuned sales funnel is
    that they’re able to outspend their competition in advertising since they
    make more money per visitor on average. It’s basic math really.
</p>
<h1 dir="ltr">
    Your First Offer &amp; Landing Page
</h1>
<br/>
<p dir="ltr">
    A sales page or squeeze page has 3 basic elements:
</p>
<br/>
<p dir="ltr">
    -Your headline aka your ‘unique selling proposition’.
</p>
<p dir="ltr">
    -Your offer.
</p>
<p dir="ltr">
    -Your call to action.
</p>
<br/>
<p dir="ltr">
    Some sales letters have more elements than this that can increase
    conversion, like the money back guarantee and count-down timer for a
    limited time offer, etc. but these 3 elements are the foundation, the must
    have elements if you want to convert visitors into customers.
</p>
<br/>
<p dir="ltr">
    You only want to ask your prospect to do one thing per page, otherwise
    they’re likely to be overwhelmed and leave your site. For this reason, it’s
    best to have your navigation links in your footer.
</p>
<br/>
<p dir="ltr">
    Asking visitors to do one thing per page also gives you more accurate
    campaign data faster. This allows you to make important business decisions
    quickly which can make a huge impact on your bottom line. This allows you
    to more efficiently allocate your marketing budget behind offers that are
    generating an optimal ROI.
</p>
<h1 dir="ltr">
    The Upsell &amp; Cross-sell
</h1>
<p dir="ltr">
    After your visitor takes action on your first offer, they are then
    presented with your upsell offer, cross-sell offer or both. You’ll want to
    test out different offers to see which work best as upsells or cross-sells.
    Typically, the idea is to offer a higher priced version of your existing
    product (upsell) or offer a complimentary product (cross-sell).
</p>
<br/>
<p dir="ltr">
    If you can make a one-time offer as your upsell, it should increase
    conversions even more.
</p>
<br/>
<p dir="ltr">
    You want the customer to view the upsell after they have entered their
    email or payment info for your first offer, otherwise it’ll lower your
    conversion rate for the first offer.
</p>
<h1 dir="ltr">
    1-Click Upsells
</h1>
<br/>
<p dir="ltr">
    1-click upsells are ideal since they don’t require the customer to re-enter
    their payment info, they simply click the buy button and it’ll be added to
    their order.
</p>
<br/>
<p dir="ltr">
    If you’re a web developer, you can set up 1-click upsells using the Stripe
    API. If you’re not, the easiest way to make this happen is using software
like <a href="http://clickfunnels.com">ClickFunnels</a> or    <a href="http://sendowl.com">SendOwl</a>.
</p>
<h1 dir="ltr">
    Downsells
</h1>
<p dir="ltr">
    You can set-up an exit pop-up that’s triggered when the visitor starts
    moving the cursor towards the back button in the browser and offer a
    downsized version of your offer for less money or maybe offer a payment
    plan.
</p>
<br/>
<p dir="ltr">
    I tend to stray away from pop-ups just because I personally don’t like
    pop-ups at all but they’re known to work so it’s ultimately up to you to
    test out in your business.
</p>
<br/>
<p dir="ltr">
    The possibilities are endless!
</p>
<br/>
<h1 dir="ltr">
    Flowchart
</h1>
<p dir="ltr">
    <img
        src="https://lh4.googleusercontent.com/8o_vaJ2RKvzqzLZ9rSPcbORX7qRIlL8-wpWozmuc7x0VZS8oP88BG0gtk5E5hhkNBfJ6DhW7iXZBfgaghCF-UPU5m2S1h5V9cq9CBAECI-DHeNC_rHt6VdZx-V04nGSmq2DGz0fw"
        width="624"
        height="347"
        alt="flowchart0416.jpg"
    />
</p>
<br/>
<h1 dir="ltr">
    Step-By-Step Instructions
</h1>
<p dir="ltr">
    Step 1: Create your first offer and create the sales page. If you’re not a
web developer, I recommend using    <a href="http://clickfunnels.com">ClickFunnels</a> or
    <a href="http://thrivethemes.com/affiliates/ref.php?id=1634">
        ThriveThemes
    </a>
along w/    <a href="https://thrivethemes.com/landingpages/">Thrive Content Builder</a>
    and <a href="https://www.sendowl.com/">SendOwl</a>.
</p>
<p dir="ltr">
    If you’re looking for a free landing page solution then
    <a
        href="https://bootstrapthemes.co/item/backyard-high-converting-free-bootstrap-4-landing-page-template/"
    >
        check out this one
    </a>
    . You’ll have to learn some html &amp; css to customize it but at least you
    won’t have to spend any money on a great looking landing page designed to
    generate sales.
</p>
<br/>
<p dir="ltr">
    Step 2: Create your Upsell or Cross-sell offer. Typically, the idea is to
    offer a higher priced version of your existing product (upsell) or offer a
    complimentary product (cross-sell).
</p>
<br/>
<p dir="ltr">
    Step 3: Create your downsell offer if you’re going to have one, and create
    the thank you pages where customers will download your product.
</p>
<br/>
<p dir="ltr">
    Step 4: Manage your customer emai list using automation software like <a href="https://www.drip.com/" target="_blank">Drip</a>.
</p>
<br/>
<p dir="ltr">
    Step 5: Start driving traffic to your sales funnel and keep testing
    different offers w/ different upsell and cross-sell offers.
</p>
<h1 dir="ltr">
    Results Realized
</h1>
<br/>
<p dir="ltr">
    It may take a while to hit on a winning sales funnel. If a sales funnel is
    not performing how you’d like it to, there are a couple things you should
    test before ditching the offer.
</p>
<br/>
<p dir="ltr">
    Price: If you can test different price points, you may find that a cheaper
    price point results in much higher conversions and profits or maybe a
    higher point converts higher for some reason. You never know until you
    test.
</p>
<br/>
<p dir="ltr">
    Headline: Sometimes your headline may not be doing it’s job pulling people
    into your sales letter. Test out a few different headlines to ensure you’re
    giving your offer the true test.
</p>
<br/>
<p dir="ltr">
    You don’t have to get rid of your main website to take advantage of this
    strategy either. Simply put your offer as a splash page when people access
    your homepage. At the bottom of the splash page you’ll have a link that
    says “No thanks, take me to the main website”. When the visitor clicks this
    they’re taken to your main website where they can learn more general info
    about your business if you’d like.
</p>
<br/>
<h2 dir="ltr">
    Now Get Out There And Do It!
</h2>
<br/>
<p dir="ltr">
    If you follow the advice in this guide, you can easily increase your return
    on investment with very little hassle for almost any campaign your business
    is running.
</p>
<br/>
<p dir="ltr">
    You’ll also be able to outspend your competition who doesn’t have a
    fine-tuned sales funnel simply because you make more on average per visitor
    and per customer.
</p>
<br/>
<p dir="ltr">
    If you sell services instead of products you can also apply this sales
    funnel strategy to drastically increase your sales and profits.
</p>
<div class="well container">											
<h2 class="text-center"><strong>Want more free content from Wordfizzle?</strong></h2>
<p class="text-center">Click below to join our email list below!</p>
<div class="row" style="margin-top:-50px;">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://www.getdrip.com/forms/559907987/submissions/new" data-drip-show-form="220046329" class="btn btn-primary btn-primary-outline btn-block page-scroll" style="margin-top:80px;">Join Our Free Email List</a>
		</div>
	</div>
	</div>
</div>
</div>

<div class="container" id="footer">
			<p class="text-center"><a href="/privacy">Privacy Policy | Terms Of Service</a></p>
</div> 