<div class="container">
<h3 class="text-center">How I Made $1k+ On A Blogging Platform Barely Anybody Knows About
Called Steemit</h3>
<p class="text-justify">What I’m about to show you is very important to learn as it could 
finally allow you to make a decent income publishing content of all types on the Internet. 
As great as the Internet is, until now it hasn’t truly allowed those creating valuable 
content online to get paid an amount equal to the value they’ve delivered.
</p>
<p class="text-justify">Sure you have some popular blogs that make decent revenue from 
advertising but you have to be a popular mainstream blog like Buzzfeed.com to make decent 
revenue from advertising since you only get roughly $5 for every 1,000 pageviews as a 
blogger/publisher.
</p>
<p class="text-justify">For those of us just wanting to carve a small niche in this world 
and make a decent living giving value to a smaller audience, there weren’t many options. 
Not until now!
</p>
<p class="text-justify">Trust me, when you realize just how powerful this publishing 
platform is, and how profitable it can be, it’ll feel like the first day you discovered 
the Internet. A whole world of opportunities will be open up to you.
</p>
<h2 class="text-center"><strong>The Blogging Platform Barely Anybody Knows About</strong></h2>
<p class="text-justify">In this report, I’m going to show you how to use a revolutionary 
new blogging platform called Steemit.com. I personally made $500+ overnight just by 
publishing this <a href="https://steemit.com/food/@steveo/let-s-turn-suburbia-into-a-local-food-mecca" target="_blank">one blog post</a> on <a href="https://steemit.com" target="_blank">Steemit.com</a>. 
To date I’ve earned over $1k on Steemit from my blogging efforts.
</p>
<p class="text-justify">There are 3 ways to earn on Steemit.com; as an author, a commenter 
and as a ‘curator’. The platform itself is like a mix between Medium.com, Reddit and 
Tumblr. The main difference? Steemit is a blockchain-based social media platform that 
generates the crypto-currency called ‘steem’, currently at a rate of a few thousand 
dollars a day. The steem generated is then rewarded to miners aka ‘witnesses’ who support 
the network, similar to bitcoin, but unlike bitcoin, rewards are also distrubted to 
authors, commenters and curators on the Steemit.com social media platform.
</p>
<p class="text-justify">On Steem.io it explains, “Collectively, user-generated content has created billions of dollars worth of value for the shareholders of social media companies, such as Reddit, Facebook, and Twitter. Steem supports social media and online communities by returning much of its value to the people who provide contributions by rewarding them with virtual currency.”
</p>
<p class="text-justify">The important part to know is that you can earn serious cash by posting great content and this guide is going to show you the quickest route to publishing and cashing out your steem rewards to USD cash in your hand. Cashing out to USD is optional of course, but I’m sure you’ll want to liquidate some of your steem if you earn enough.
</p>
<p class="text-justify" style="margin-bottom:50px;">So how exactly can you earn rewards? The following image is a quick breakdown taken from <a href="http://steem.io" target="_blank">http://steem.io</a>:
</p>
<%= image_tag("steemrewards.png", :alt => "Steem Rewards", :class => "img-responsive roast-img", :style => "margin-top:-20px; margin-bottom:50px;") %>
<p class="text-justify"><a href="https://steemit.com/steemit/@worstdevever/the-ultimate-guide-to-steemit-rewards-the-worst-dev-ever-cheatsheets" target="_blank">Here’s a great cheat sheet</a> on how the rewards break down created by steem user <a href="https://steemit.com/@worstdevever" target="_blank">@worstdevever</a>.
</p>
<h2>Step-by-Step</h2>
<ol>
	<li>Visit <a href="http://Steemit.com" target="_blank">Steemit.com</a> and click ‘Sign-up’. Important note: You will be given a password that is also the private key to your steem wallet, which means that if you lose it, there is no password recovery and staff can not help you get back into your account. This is for security purposes since steem wallets can have a lot of money stored in them.</li>
	<li>Click on the “Submit a Story” link in the top right corner of Steemit.com.</li>
	<li>Start writing and publishing your article. You can use <a href="http://steempower.org" target="_blank">SteemPower.org</a> which makes it easier to format your article or just use the built in editor.</li>
	<li>When you’re done writing your article, you’ll want to tag it. No commas are necessary for tags, a space in between tags is sufficient. The tags you use will also be the ‘sub-steems’ your article will show up in. <a href="https://steemit.com/tags.html/trending" target="_blank">You can view a comprehensive list of ‘sub-steems’ here</a> showing how many replies each sub has had along with how much money has been paid out per sub.</li>
	<li>If your article post earns any steem, you’ll have it deposited in your Steemit wallet within 24 hours of posting. You can then exchange your steem for bitcoin using <a href="https://blocktrades.us" target="_blank">Blocktrades.us</a>, <a href="http://shapeshift.io" target="_blank">ShapeShift.io</a> or <a href="http://changelly.com" target="_blank">Changelly.com</a>. After you exchanged your steem for bitcoin you can easily sell your bitcoin for USD or any other currency you’d like using any number of Bitcoin exchanges.</li>
	<li>
</ol>
<h2 class="text-center"><strong>Steem vs. Steem Dollars vs. Steem Power</strong></h2>
<p class="text-justify">At this point, if you’ve already created an account on Steemit.com and have taken a look at your wallet, you maybe be confused by the 3 different types of steem mentioned. It’s really quite simple once it’s explained in detail.</p>
<p class="text-justify"><strong>Steem</strong></p>
<p class="text-justify">Steem is the default form this cryptocurrency takes. It’s the most liquid of the 3 meaning you can easily send steem to other people or exchange it for other cryptocurrencies immediately. You’re exposed to normal price volatility of steem, which can be good or bad depending on which way the price is swinging. You can see the current value of steem here.</p>
<p class="text-justify"><strong>Steem Dollars</strong></p>
<p class="text-justify">If volatility makes your stomache turn, you should hold your steem in the form of steem dollars, their value is much more stable than steem itself. Each steem dollar is worth aproximately $1 USD, which is where they get their name. You can see the current value of each steem dollar <a href="http://www.steemdollar.com/" target="_blank">here</a>.</p>
<p class="text-justify">Just by holding your steem dollars, you can accrue a 10% interest. You can <a href="https://jscalc.io/calc/mKEqkCwkOOe4IzwV" target="_blank">calculate your steem dollar interest using this nifty calculator here</a>.</p>
<p class="text-justify">Rewards paid out to authors, curators and commenters is paid out 50% as steem dollars and 50% as something called ‘steem power’ which I will explain next.</p>
<p class="text-justify"><strong>Steem Power</strong></p>
<p class="text-justify">If you’re looking to invest long-term in the steem/steemit ecosystem then you should hold your steem in the form of ‘steem power’. Steem power is a system designed to inspire more long-term growth and commitment due to it being less liquid. Once you ‘power up’ your steem and turn it into steem power, it can take up to 3 months to ‘power down’ your steem or turn your steem power back into steem or steem dollars. Powering down will release your steem power in the form of steem at a weekly rate determined by how much steem power you have invested.</p>
<p class="text-justify">So why own steem power? For starters, it gives you more voting power and increases the rewards you can earn by authoring content, commenting or curating on the steemit platform. Half of the rewards you earn as a author, commenter, or curator is paid in the form of steem power too, so if you use steemit at all you’ll probably end up owning some. You have the choice of having all of your rewards paid out in the form of steem power too if you want.</p>
<p class="text-justify">The price of steem power is tied to the price of steem itself, so it’s more volatile than the steem dollar FYI.</p>
<p style="margin-bottom:30px;" class="text-justify">Still having trouble understanding the different forms of steem? Maybe <a href="https://steemit.com/steemit/@donkeypong/still-confused-by-steem-steem-dollars-and-steem-power-the-power-plant-analogy" target="_blank">this power plant analogy</a> will help you understand it better:</p>
<%= image_tag("steemitpp.jpg", :alt => "Steemit Power Plant", :class => "img-responsive roast-img", :style => "margin-top:-20px; margin-bottom:50px;") %>
<h3 class="text-center">Conclusion</h3>
<p class="text-justify">That about covers the basics of Steemit and should be enough info to get you started making money on this exciting new platform immediately! </p>
<h2 class="text-center"><strong>Discover the fastest way to turn your steem into cold hard cash in your hand!</strong></h2>
<p class="text-justify">I’ve created a special video walking you through the fastest way to turn your steem into cold hard cash in your hand. I also offer email & video chat support in case you have any troubles cashing out your steem.</p>
<div class="container-fluid">
	<p class="text-center"><strong>Get immediate access to this video here for only $4.</strong></p>
<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://transactions.sendowl.com/products/604559/A6FB357B/purchase" class="btn btn-primary btn-primary-outline btn-block page-scroll">$4 Add To Cart</a>
				<%= image_tag("cclogos.png", :alt => "Credit Card Logos", :class => "img-responsive roast-img", :style => "margin-top:-20px; margin-bottom:50px;") %>
				<%= image_tag("secure-checkout.png", :alt => "Secure Checkout", :class => "img-responsive roast-img", :style => "margin-top:-30px; margin-bottom:50px;") %>
		</div>
		</div>
		</div>
<p class="text-justify">If you have any further questions or concerns feel free to email me at support@wordfizzle.com. Don’t forget to <a href="https://steemit.com/@steveo" target="_blank">follow me on Steemit.com</a> too! :)</p>
<p class="text-justify">To Your Success,</br>
												Steve Longoria</p>
<div class="well container">											
<h2 class="text-center"><strong>Want more free content from Wordfizzle?</strong></h2>
<p class="text-center">Click below to join our email list below!</p>
<div class="row" style="margin-top:-50px;">
		<div class="col-md-4 col-md-offset-4">
			<a href="https://www.getdrip.com/forms/877158408/submissions/new" data-drip-show-form="877158408" class="btn btn-primary btn-primary-outline btn-block page-scroll" style="margin-top:80px;">Join Our Free Email List</a>
		</div>
	</div>
	</div>
</div>
</div>

<div class="container" id="footer">
			<p class="text-center"><a href="/privacy">Privacy Policy | Terms Of Service</a></p>
</div>