/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


body {
	font-size: 100%
	}
 
.navbar, .callout {
 	background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2994a, #f2c94c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f2994a, #f2c94c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 
 h1, h2, h3, p {
 	font-family: 'Spectral', serif;
	}
	
	p, ol, ul {
		font-size: 20px;
		padding-top: 15px;
	}
	
	
 
 // Nav Styles
.navbar {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #f2994a;
  }
}

.navbar-default .navbar-brand, {
	font-family: 'Spectral', serif;
  font-weight: 800;
  font-size: 20px;
  color: white;
  &:hover {
  	color: white;
  	opacity: 0.75;
  	}
}


.navbar-default .navbar-nav > li > a {
	font-size: 15px;
  color: white;
  margin-top: -10px;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

// Homepage Styles
	
.callout {
	color:white;
	margin-top: -20px;
	padding-top: 50px;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 100px;
	h1 {
	font-size:85px;
	}
	h3 {
	}
}

.btn-primary-outline {
	height: 48px;
	padding-top: 8px;
  background-color: #f2c94c;
  border-color: #f2c94c;
  margin-bottom: 30px;
  font-size: 20px;
  &:hover, &:focus, &:active:focus {
    background-color: #f2c94c;
    color: white;
    border-color: #f2c94c;
    }
}

.img-responsive {
    margin: auto;
}


/* XSmall devices (landscape phones, 344px and up) */
	@media (min-width: 344px) {  
		h3 {font-size:30px;} /*1rem = 16px*/
		h2 {font-size: 20px;}
		.h2 {font-size: 20px;}
	}
/* Small devices (landscape phones, 544px and up) */
	@media (min-width: 544px) {  
		h3 {font-size:30px;} /*1rem = 16px*/
		h2 {font-size: 25px;}
		.h2 {font-size: 25px;}
	}

	/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
	@media (min-width: 768px) {  
		h3 {font-size:35px;} /*1rem = 16px*/
		h2 {font-size:23px;}
		.h2 {font-size: 25px;}
	}

	/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) { 
		h3 {font-size:45px;} /*1rem = 16px*/
		h2 {font-size:30px;}
		.h2 {font-size: 25px;}
	}

	/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {  
		h3 {font-size:60px;} /*1rem = 16px*/  
		h2 {font-size:30px;}
		.h2 {font-size: 25px;}
	}



